body {
    background-image: url("./assets/topography.svg"), linear-gradient(110deg, #ffffff, #0f0f0f);
    background-size: 325px, auto;
    background-attachment: fixed;
}

.App {
    text-align: center;
    font-family: yellowtail;
    font-weight: 100;
    font-size: 5em;
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: yellowtail;
    src: url('./assets/Yellowtail-Regular.otf');
}